.card {
  overflow: hidden;
  margin-bottom: 2rem;

  &-header  {
    position: relative;
    background-color: transparent;
    padding: 0;
    overflow: hidden;
    
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover {
      .card-img {
        transform: scale(1.25);
      }
    }

    &-top,
    &-bottom {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      color: $white;
      z-index: 2;

      @include media(down, $breakpoint-sm) {
        padding: 0.5rem;
      }
    }

    &-top {
      top: 0;
      align-items: center;

      .btn-white {
        
        &:hover {
          color: $secondary;
        }
      }
    }

    &-bottom {
      bottom: 0;
      flex-direction: column;
    }
    
    .card-title {
      font-size: $font-size-base;
    }
  }

  &-img {
    position: relative;
    z-index: 1;
    transition: all 0.6s ease-in-out;
  }

  &-body {

    @include media(down, $breakpoint-sm) {
      padding: 0.5rem;
    }
    .product-property {
      &-item {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      &-label {
        flex: 1 0 30%;
      }
      &-value {
        flex: 1 0 70%;
      }
      
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: transparent;
    border-top: 1px solid $gray-light;
    
    @include media(down, $breakpoint-sm) {
      padding: 0.5rem;
    }
  }
}