.btn {
  &-icon {
    font-size: 1.25rem;
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: 0;

    &.btn-white {
      color: $white;
      background-color: transparent;
    }
  }

  &-info {
    color: $white;
  }
}

.nav {
  &-tabs {
    border: none;
    border-radius: 0;

    .nav-item {
      border: 1px solid $border-color;
      overflow: hidden;

      &:not(:last-child) {
        border-right: 0;
      }

      &:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      &:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
    }
    .nav-link {
      border: 0;
      border-radius: 0;
      color: $gray-light;
      font-weight: $fw-semibold;

      &.active {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.navbar-nav {
  .dropdown-menu{
    &.show {
      left: unset;
      right: 0;
    }
  }
}